*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("../img/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position:relative;
    overflow:auto;
}

img
{   
    width:100%;
}
/****** FOOTER ********/
footer 
{
    background-color:darkgreen;
    width: 100%;
    text-align: center;
    color:white;
    height:100px;
}

footer li
{
    display: inline-flex;
    padding:10px;
}

footer ul 
{
    text-align: center;
}

footer li a:hover { 
    background-color: white;
    border-radius: 2px;
    color: black;
    transition: all 0.5s ease-in-out;
}

footer a 
{
    color:white;
    font-weight:bold;
}

footer ul
{
    list-style-type: none;
}

/*********** Movies and TV Shows *************/

#section-movie-list h2, 
#section-tv-list h2,
#section-movie-featured-list h2,
#section-tv-featured-list h2 
{
    font-weight: bold;
    color:black;
}

.movie-card 
{
    border: 1px solid yellow; 
    border-radius: 16px;
    background-color: forestgreen;
    overflow: hidden;
}

.movie-card  img 
{
    height:263px;
    object-fit:scale-down;
    cursor:pointer;
    transition:  all 0.5s ease-in-out;
}

.movie-card:hover img 
{
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(.8);
}

.tv-card 
{
    border: 1px solid green; 
    border-radius: 16px;
    background-color: orangered;
    overflow: hidden;
}

.tv-card  img 
{
    height:263px;
    object-fit:scale-down;
    cursor:pointer;
    transition:  all 0.5s ease-in-out;
}

.tv-card:hover img 
{
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(.8);
}

.movie-tvshow-title
{ 
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 2px;
    text-align: center;
}

#movie-tv-details-section > div 
{   
    background: linear-gradient( to bottom, #CFFC03, #53FC03,#FCAC03) !important;
}

.movie-tv-details-section > img
{
    grid-column: 1;
}

.movie-tv-details-area
{
    grid-column: 2/span 2;
}

.movie-tv-details-area h3 
{
    font-weight: bold;
    color: orangered;
}

.movie-tv-details-area h4 
{
    font-weight: bold;
    color: darkgreen;
}

/**********Contact Us******/
table.table-contact-us {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient( to bottom, #CFFC03, #53FC03,#FCAC03) !important;
}

th h3 {
    text-align: center;
}

.contact-area td h4 {
    color: darkgreen;
    font-weight: bold;
}
.image-description {
    height:100%;
    object-fit:scale-down;
    border-radius: 50px;
}

/*********GRID*********/
.display-grid-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.display-grid-description {
    width:95%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
}

